<!DOCTYPE html SYSTEM>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		{% include "libs/fragments.html" %}
		
		<script type="text/javascript">
			window.cmsUITemplateInfo = {
				pageTemplates : [
					{
						name: "StartPage",
						template: "start.html"
					},
					{
						name: "Imprint",
						template: "imprint.html"
					}
				]
			}
		</script>
	</head>

	<body class="centered">

		<div id="content">
			<div class="container" {{ ui.editContent("code") }}>
				{{ node.content | raw}}
			</div>
			<div>
				<div class="container" {{ ui.editMeta("text", "description") }}>
					{{ node.meta.get('description') | raw}}
				</div>
				<div class="container" {{ ui.editMeta("text", "parent.text") }}>
					{{ node.meta.get('parent.text') | raw}}
				</div>
			</div>
			<hr />
			<div {{ ui.editForm() }}>
				<div {{ ui.editFormElement("text", "description") }}>
					{{ node.meta.get('description') | raw}}
				</div>
				<div {{ ui.editFormElement("text", "parent.text") }}>
					{{ node.meta.get('parent.text') | raw}}
				</div>
			</div>
		</div>
		<div class="container" 
			 {{ ui.editSections('asection')}}
			 {{ ui.addSection(['section.html'])}}
			 >
			{% if sections.containsKey('asection') %}
			{% for section in sections.get('asection') %}
			{{ section.content() | raw }}
			{% endfor %}
			{% endif %}

		</div>

	</body>


</html>